:root {
  --primary: #26c2ad;
  --dark-primary: #00474b;
  --primary-text: #556f6e;
  --background: #c5e4e7;
  --secondary: #f3f8fb;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: var(--background);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Space Mono', monospace;
}

header {
  min-width: 780px;
  display: flex;
  justify-content: center;
  padding: 5vh;
}

h1 {
  color: var(--primary-text);
}



h2 {
  color: var(--primary-text);
}



.general-wrapper {
  max-width: 100%;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.data-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  width: 375px;
}

.input-bill {
  background-image: url('./icon-dollar.svg');
  background-repeat: no-repeat;
  background-position: center left;
  background-origin: content-box;
  padding: 0 20px;
}

.input-people {
  background-image: url('./icon-person.svg');
  background-repeat: no-repeat;
  background-position: center left;
  background-origin: content-box;
  padding: 0 20px;
}

.result-wrapper {
  background-color: var(--dark-primary);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 375px;
  padding: 30px;
  box-sizing: border-box;
  row-gap: 20px;
  justify-content: space-between;
}



.result-wrapper h2 {
  color: white;
  margin: 0;
}

.result-wrapper h3 {
  color: var(--primary);
  font-size: 3rem;
  margin: 0;
}

.result-wrapper p {
  color: var(--primary-text);
  font-weight: bold;
  margin: 0;
}

.result-wrapper button {
  background-color: var(--primary);
  color: var(--dark-primary);
  text-align: center;
  padding: 7px;
}


input:focus {
  border: 2px solid var(--primary);
  outline: none;
  color: var(--dark-primary);
}

.btn-active {
  background-color: var(--primary);
  color: var(--dark-primary);
}

.input-invalid,
.input-invalid:focus {
  border: 2px solid orangered;
}